$border-radius: 8px;
$size-icon-menu: 18px;

$bg-body-color: #f7f7f7;
$bg-footer-color: #fafafa;

$color-action: #FFFBEC;
$color-link: #6665DD;
$color-focused: #00A651;
$color-focused-non-text: #2EB670;
$color-gray-100: #2F2F30;
$color-gray-75: #919293;
$color-gray-70: #A9ABAE;
$color-gray-80: #6C6D6F;
$color-gray-40: #dbdcde;
$color-white: #ffffff;

$shadow-card: 1px 3px 3px rgba(62, 63, 64, 0.1);
$border-type: 1px solid $color-gray-40;